$palette-primary: #db7093;
$palette-link: #db7093;
// $palette-link: #b77843;
$palette-dark: #22231d;
$palette-lighter: papayawhip;
$font-primary: "Raleway", sans-serif;
$font-secondary: "Lato", sans-serif;
